<h1>Should I take an umbrella?</h1>
<!--<%=cookies%>-->
<dl>
  <dt>User location</dt>
  <dd><%=@user_location%></dd>

  <dt>Latitude</dt>
  <dd><%=@latitude%></dd>

  <dt>Longitude</dt>
  <dd><%=@longitude%></dd>

  <dt>Current temperature</dt>
  <dd><%=@current["temperature"]%> °F</dd>

  <dt>Current summary</dt>
  <dd><%=@next_hour_summary%></dd>

  <dt>Umbrella?</dt>
  <dd><%=@message%></dd>

  <%=@ppt_prob%>
</dl>

<a href="/umbrella">Go back</a>
